apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: blue-faas
  namespace: blue-faas
  labels:
    app.kubernetes.io/name: blue-faas
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: blue-faas
  minReplicas: 1
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Percent
          value: 10
          periodSeconds: 60
    scaleUp:
      stabilizationWindowSeconds: 0
      policies:
        - type: Percent
          value: 100
          periodSeconds: 15
        - type: Pods
          value: 4
          periodSeconds: 15
      selectPolicy: Max
